/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}


body {
  font-size: 0;
}

.tile {
  display: inline-block;
  height: 128px;
  width: 128px;
}

.tile-space-edge-top-left {
  background: #222034 url("/img/background/tiles/space/space-0-1-edge-top-left.png") no-repeat center;
}
.tile-space-edge-top-middle {
  background: #222034 url("/img/background/tiles/space/space-0-2-edge-top-middle.png") no-repeat center;
}
.tile-space-edge-top-right {
  background: #222034 url("/img/background/tiles/space/space-0-3-edge-top-right.png") no-repeat center;
}

.tile-space-top-left {
  background: #222034 url("/img/background/tiles/space/space-1-1-top-left.png") no-repeat center;
}
.tile-space-top-middle {
  background: #222034 url("/img/background/tiles/space/space-1-2-top-middle.png") no-repeat center;
}
.tile-space-top-right {
  background: #222034 url("/img/background/tiles/space/space-1-3-top-right.png") no-repeat center;
}
.tile-space-middle-left {
  background: #222034 url("/img/background/tiles/space/space-2-1-middle-left.png") no-repeat center;
}
.tile-space-middle-middle {
  background: #222034 url("/img/background/tiles/space/space-2-2-middle-middle.png") no-repeat center;
}
.tile-space-middle-right {
  background: #222034 url("/img/background/tiles/space/space-2-3-middle-right.png") no-repeat center;
}
.tile-space-bottom-left {
  background: #222034 url("/img/background/tiles/space/space-3-1-bottom-left.png") no-repeat center;
}
.tile-space-bottom-middle {
  background: #222034 url("/img/background/tiles/space/space-3-2-bottom-middle.png") no-repeat center;
}
.tile-space-bottom-right {
  background: #222034 url("/img/background/tiles/space/space-3-3-bottom-right.png") no-repeat center;
}

.tile-space-edge-bottom-left {
  background: #222034 url("/img/background/tiles/space/space-4-1-edge-bottom-left.png") no-repeat center;
}
.tile-space-edge-bottom-middle {
  background: #222034 url("/img/background/tiles/space/space-4-2-edge-bottom-middle.png") no-repeat center;
}
.tile-space-edge-bottom-right {
  background: #222034 url("/img/background/tiles/space/space-4-3-edge-bottom-right.png") no-repeat center;
}

.tile-sky-edge-top-left {
  background: url("/img/background/tiles/sky/sky-0-1-edge-top-left.png") no-repeat center;
}
.tile-sky-edge-top-middle {
  background: url("/img/background/tiles/sky/sky-0-2-edge-top-middle.png") no-repeat center;
}
.tile-sky-edge-top-right {
  background: url("/img/background/tiles/sky/sky-0-3-edge-top-right.png") no-repeat center;
}

.tile-sky-top-left {
  background: #80B2FF url("/img/background/tiles/sky/sky-1-1-top-left.png") no-repeat center;
}
.tile-sky-top-middle {
  background: #80B2FF url("/img/background/tiles/sky/sky-1-2-top-middle.png") no-repeat center;
}
.tile-sky-top-right {
  background: #80B2FF url("/img/background/tiles/sky/sky-1-3-top-right.png") no-repeat center;
}
.tile-sky-middle-left {
  background: #80B2FF url("/img/background/tiles/sky/sky-2-1-middle-left.png") no-repeat center;
}
.tile-sky-middle-middle {
  background: #80B2FF url("/img/background/tiles/sky/sky-2-2-middle-middle.png") no-repeat center;
}
.tile-sky-middle-right {
  background: #80B2FF url("/img/background/tiles/sky/sky-2-3-middle-right.png") no-repeat center;
}
.tile-sky-bottom-left {
  background: #80B2FF url("/img/background/tiles/sky/sky-3-1-bottom-left.png") no-repeat center;
}
.tile-sky-bottom-middle {
  background: #80B2FF url("/img/background/tiles/sky/sky-3-2-bottom-middle.png") no-repeat center;
}
.tile-sky-bottom-right {
  background: #80B2FF url("/img/background/tiles/sky/sky-3-3-bottom-right.png") no-repeat center;
}

.tile-sky-edge-bottom-left {
  background: url("/img/background/tiles/sky/sky-4-1-edge-bottom-left.png") no-repeat center;
}
.tile-sky-edge-bottom-middle {
  background: url("/img/background/tiles/sky/sky-4-2-edge-bottom-middle.png") no-repeat center;
}
.tile-sky-edge-bottom-right {
  background: url("/img/background/tiles/sky/sky-4-3-edge-bottom-right.png") no-repeat center;
}

.tile-land-edge-top-left {
  background: url("/img/background/tiles/land/land-0-1-edge-top-left.png") no-repeat center;
}
.tile-land-edge-top-middle {
  background: url("/img/background/tiles/land/land-0-2-edge-top-middle.png") no-repeat center;
}
.tile-land-edge-top-right {
  background: url("/img/background/tiles/land/land-0-3-edge-top-right.png") no-repeat center;
}

.tile-land-top-left {
  background: #B3A38C url("/img/background/tiles/land/land-1-1-top-left.png") no-repeat center;
}
.tile-land-top-middle {
  background: #B3A38C url("/img/background/tiles/land/land-1-2-top-middle.png") no-repeat center;
}
.tile-land-top-right {
  background: #B3A38C url("/img/background/tiles/land/land-1-3-top-right.png") no-repeat center;
}
.tile-land-middle-left {
  background: #B3A38C url("/img/background/tiles/land/land-2-1-middle-left.png") no-repeat center;
}
.tile-land-middle-middle {
  background: #B3A38C url("/img/background/tiles/land/land-2-2-middle-middle.png") no-repeat center;
}
.tile-land-middle-right {
  background: #B3A38C url("/img/background/tiles/land/land-2-3-middle-right.png") no-repeat center;
}
.tile-land-bottom-left {
  background: #B3A38C url("/img/background/tiles/land/land-3-1-bottom-left.png") no-repeat center;
}
.tile-land-bottom-middle {
  background: #B3A38C url("/img/background/tiles/land/land-3-2-bottom-middle.png") no-repeat center;
}
.tile-land-bottom-right {
  background: #B3A38C url("/img/background/tiles/land/land-3-3-bottom-right.png") no-repeat center;
}

.tile-land-edge-bottom-left {
  background: url("/img/background/tiles/land/land-4-1-edge-bottom-left.png") no-repeat center;
}
.tile-land-edge-bottom-middle {
  background: url("/img/background/tiles/land/land-4-2-edge-bottom-middle.png") no-repeat center;
}
.tile-land-edge-bottom-right {
  background: url("/img/background/tiles/land/land-4-3-edge-bottom-right.png") no-repeat center;
}

.tile-water-edge-top-left {
  background: url("/img/background/tiles/water/water-0-1-edge-top-left.png") no-repeat center;
}
.tile-water-edge-top-middle {
  background: url("/img/background/tiles/water/water-0-2-edge-top-middle.png") no-repeat center;
}
.tile-water-edge-top-right {
  background: url("/img/background/tiles/water/water-0-3-edge-top-right.png") no-repeat center;
}

.tile-water-top-left {
  background: #408BFF url("/img/background/tiles/water/water-1-1-top-left.png") no-repeat center;
}
.tile-water-top-middle {
  background: #408BFF url("/img/background/tiles/water/water-1-2-top-middle.png") no-repeat center;
}
.tile-water-top-right {
  background: #408BFF url("/img/background/tiles/water/water-1-3-top-right.png") no-repeat center;
}
.tile-water-middle-left {
  background: #408BFF url("/img/background/tiles/water/water-2-1-middle-left.png") no-repeat center;
}
.tile-water-middle-middle {
  background: #408BFF url("/img/background/tiles/water/water-2-2-middle-middle.png") no-repeat center;
}
.tile-water-middle-right {
  background: #408BFF url("/img/background/tiles/water/water-2-3-middle-right.png") no-repeat center;
}
.tile-water-bottom-left {
  background: #408BFF url("/img/background/tiles/water/water-3-1-bottom-left.png") no-repeat center;
}
.tile-water-bottom-middle {
  background: #408BFF url("/img/background/tiles/water/water-3-2-bottom-middle.png") no-repeat center;
}
.tile-water-bottom-right {
  background: #408BFF url("/img/background/tiles/water/water-3-3-bottom-right.png") no-repeat center;
}

.tile-water-edge-bottom-left {
  background: url("/img/background/tiles/water/water-4-1-edge-bottom-left.png") no-repeat center;
}
.tile-water-edge-bottom-middle {
  background: url("/img/background/tiles/water/water-4-2-edge-bottom-middle.png") no-repeat center;
}
.tile-water-edge-bottom-right {
  background: url("/img/background/tiles/water/water-4-3-edge-bottom-right.png") no-repeat center;
}


.unit {
  height: 128px;
  width: 128px;
}

.unit-command-ship {
  background: url("/img/units/unit-command-ship.png") no-repeat center;
}
.unit-galactic-battleship {
  background: url("/img/units/unit-space-galactic-battleship.png") no-repeat center;
}
.unit-space-frigate {
  background: url("/img/units/unit-space-space-frigate.png") no-repeat center;
}
.unit-star-fighter {
  background: url("/img/units/unit-space-star-fighter.png") no-repeat center;
}
.unit-fighter-jet {
  background: url("/img/units/unit-sky-fighter-jet.png") no-repeat center;
}
.unit-high-altitude-interceptor {
  background: url("/img/units/unit-sky-high-altitude-interceptor.png") no-repeat center;
}
.unit-stealth-bomber {
  background: url("/img/units/unit-sky-stealth-bomber.png") no-repeat center;
}
.unit-artillery {
  background: url("/img/units/unit-land-artillery.png") no-repeat center;
}
.unit-sam-launcher {
  background: url("/img/units/unit-land-sam-launcher.png") no-repeat center;
}
.unit-tank {
  background: url("/img/units/unit-land-tank.png") no-repeat center;
}
.unit-cruiser {
  background: url("/img/units/unit-water-cruiser.png") no-repeat center;
}
.unit-destroyer {
  background: url("/img/units/unit-water-destroyer.png") no-repeat center;
}
.unit-sub {
  background: url("/img/units/unit-water-sub.png") no-repeat center;
}

.flipHorizontally {
  transform: scaleX(-1);
}

#map {
  overflow: scroll;
  white-space: nowrap;
  /*touch-action: pan-x pan-y;*/
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

